.f-uniswap-pair-symbol {
    display: flex;
    align-items: center;

    .f-crypto-symbol {
        margin-inline-end: 0;
        padding-inline-end: 0;
        z-index: 2;
    }

    .first-symbol {
        //margin-inline-end: -6px;
        z-index: 1;
        margin-inline-end: -16px;
    }
}
