@import "../../assets/scss/vars";

.account-success-message {
    text-align: center;
    margin-top: 100px;

    /*
    .f-card:not(.off) {
        padding: 40px;
        max-width: 470px;
        margin: 240px auto 0 auto;
    }
    */
}

.f-window {
    .account-success-message {
        margin-top: 0;
    }
}
