@include buttons {
    --f-button-light-hover-background-color: #ccddff;
}

@include buttons('.create-account-btn') {
    background-color: $create-account-color;
}

@include buttons('.create-account-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
    background: darken($create-account-color, 10%);
}

@include buttons('.create-account-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
    background: darken($create-account-color, 10%);
}

@include buttons('.restore-account-btn') {
    background-color: $restore-account-color;
}

@include buttons('.restore-account-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
    background: darken($restore-account-color, 10%);
}

@include buttons('.restore-account-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
    background: darken($restore-account-color, 10%);
}

@include buttons('.ledger-accounts-btn') {
    background-color: $ledger-accounts-color;
}

@include buttons('.ledger-accounts-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
    background: darken($ledger-accounts-color, 10%);
}

@include buttons('.ledger-accounts-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
    background: darken($ledger-accounts-color, 10%);
}

@include buttons('.orange-btn') {
    background-color: var(--f-orange-color);
}

@include buttons('.orange-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
    background: var(--f-orange-color-darker);
}

@include buttons('.orange-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
    background: var(--f-orange-color-darker);
}

@include buttons('.white-btn.light') {
    color: #fff;
}

@include buttons('.white-btn.light:not([disabled]):not(.disabled):hover') {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
}
@include buttons('.white-btn.light:not([disabled]):not(.disabled):focus') {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
}

@include buttons(':not(.same-size) svg') {
    margin-right: 8px;
}

@include buttons('.light:not([disabled]):not(.disabled):hover') {
    color: var(--f-primary-color);
    background-color: var(--f-button-light-hover-background-color);
}
@include buttons('.light:not([disabled]):not(.disabled):focus') {
    color: var(--f-primary-color);
    background-color: var(--f-button-light-hover-background-color);
}

@include buttons('.secondary:not([disabled]):not(.disabled):hover') {
    color: var(--f-primary-color);
    background-color: var(--f-button-light-hover-background-color);
    border-color: var(--f-primary-color);
}
@include buttons('.secondary:not([disabled]):not(.disabled):focus') {
    color: var(--f-primary-color);
    background-color: var(--f-button-light-hover-background-color);
    border-color: var(--f-primary-color);
}
@include buttons('.secondary:not([disabled]):not(.disabled)[aria-selected="true"]') {
    color: var(--f-primary-color);
    background-color: var(--f-button-light-hover-background-color);
    border-color: transparent;
}
@include buttons(':not([disabled]):not(.disabled)', ':checked + ') {
    color: var(--f-primary-color);
    background-color: var(--f-button-light-hover-background-color);
    border-color: transparent;
}

.btn {
    &.btn-large-font {
        font-size: 23px;
        font-weight: normal;
    }
}

@include media-max($bp-small) {
    .btn {
        &.btn-large-font {
            font-size: 18px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}
