:root {
    --f-header-height: 96px;
    //--f-header-height: 72px;
    --f-data-layout-cols-padding: 16px;
    --f-data-table-header-sticky-top: 146px;
    --f-left-menu-width: 100px;
    --f-bottom-menu-height: 68px;

    --f-orange-color: var(--f-warning-color-dark);
    --f-orange-color-darker: #997021;

    --f-icon-stroke-color: var(--f-doc-background-color);
    --f-icon-fill-color: var(--f-doc-background-color);

    .f-slider {
        --f-slider-label-color: var(--f-primary-color);
        --f-slider-label-font-size: 14px;
    }

    .f-message {
        --f-message-success-color: var(--f-success-color);
        --f-message-warning-color: var(--f-orange-color);
        --f-message-error-color: var(--f-error-color);
        --f-message-info-color: #{$light-gray-color};
    }

    .f-tabs {
        --f-tabs-font-family: #{$font-family-proxima};
        --f-tabs-color: #{$light-gray-color};
        --f-tabs-font-size: 18px;
        --f-tabs-active-color: inherit;
        //--f-tabs-font-weight: 600;
        --f-tabs-border-width: 2px;
        --f-tabs-border-color: #{$grey-color-semi};
        --f-tabs-hover-color: var(--f-primary-color);
        --f-tabs-hover-border-color: transparent;
    }

    .f-data-table-body-bg-color {
        .f-data-table {
            //--f-data-table-cell-background-color: none;
            --f-data-table-cell-background-color: var(--f-doc-background-color);
        }
    }

    .f-card {
        .f-data-table-body-bg-color {
            .f-data-table {
                //--f-data-table-cell-background-color: none;
                --f-data-table-cell-background-color: var(--f-card-background-color);
            }
        }
    }

    .f-window {
        --f-window-padding-with-header: 40px;
        --f-window-body-padding-with-header: 0 var(--f-window-padding-with-header) var(--f-window-padding-with-header) var(--f-window-padding-with-header);

        .f-data-table-body-bg-color {
            .f-data-table {
                //--f-data-table-cell-background-color: none;
                --f-data-table-cell-background-color: var(--f-window-background);
            }
        }

        &.popover {
            --f-window-popover-padding: 24px;
            --f-window-popover-body-padding: var(--f-window-popover-padding);

            &.with-header {
                --f-window-popover-body-padding: calc(var(--f-window-popover-padding) / 2) var(--f-window-popover-padding) var(--f-window-popover-padding) var(--f-window-popover-padding);
            }
        }
    }

    .f-placeholder {
        --f-placeholder-on-gradient-color1: var(--f-doc-background-color);
        --f-placeholder-on-gradient-color2: #eee;
        //--f-placeholder-on-gradient-color2: #{$grey-color-semi};
    }

    .f-card:not(.off) {
        .f-placeholder {
            --f-placeholder-on-gradient-color1: var(--f-card-background-color);
        }
    }

    .flistbox {
        --f-listbox-item-background-color: #eee;
        --f-listbox-item-hover-background-color: #ccddff;
        --f-listbox-item-selected-color: inherit;
        --f-listbox-item-selected-background-color: #ccddff;
    }

    .f-lightweight-chart {
        --f-lightweight-chart-chart-text-color: #8997b1;
    }
}

@include media-max($bp-menu) {
    :root {
        //--f-header-height: 52px;
        --f-header-height: 60px;
        --f-data-layout-cols-padding: 8px;

        .f-card {
            --f-card-padding: 16px;
        }
    }
}

@include media-max($bp-small) {
    :root {
        //--f-header-height: 52px;
        --f-header-height: 0;

        .f-window {
            --f-window-padding-with-header: 24px;

            &.popover {
                --f-window-popover-padding: 16px;
            }
        }
    }
}
