.f-card:not(.off).window {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;

    .header {
        padding: 24px 40px;

        h1 {
            margin-top: 0;
            font-size: 24px;
        }
    }

    .body {
        position: relative;
        padding: 40px 40px 96px 40px ;
    }

    .footer {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        padding: 20px 40px 0 40px;
        text-align: center;
        //background-color: #f00;
    }
}

@include media-max($bp-small) {
    .f-card:not(.off).window {
        .header {
            padding: 20px;

            h1 {
                font-size: 20px;
            }
        }

        .body {
            padding: 20px 20px 72px 20px;
        }

        .footer {
            padding: 20px 20px 0 20px;
            bottom: 20px;
        }
    }
}
