@import "custom-properties";
@import "../../assets/scss/vars";

.f-social-media-links {
    color: var(--f-social-media-link-color);

    li {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            padding-right: 24px;
        }

        @include links() {
            color: inherit;
            transition: color $transition-length ease;
        }

        a:not(.btn):hover {
            color: var(--f-social-media-link-hover-color);
        }
    }

    .linkedin {
        position: relative;
        top: -3px;
    }
}
