@import "../variables";
@import "custom-properties";

.f-back-button {
    color: var(--f-primary-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    //padding-left: 8px;

    &:hover {
        text-decoration: underline;
    }

    svg {
        margin-top: -3px;
    }
}

.with-back-btn {
    position: relative;

    .f-back-button {
        position: absolute;
        left: -8px;
    }
}

/*
@include media-max($bp-small) {
    .with-back-btn {
        padding-left: var(--f-back-button-parent-padding-left);
    }
}
*/
