.ballot-form {
    h2 {
        font-weight: normal;
    }

    .more-info {
        font-size: 16px;
    }

    ul {
        max-width: 280px;
        margin: 0 auto;
        padding: 32px 0 16px 0;

        li {
            font-weight: bold;
            padding-bottom: 16px;
        }
    }
}
