@import "../../assets/scss/vars";

.defi-token-list {
    ul > li {
        padding: 4px 24px 4px 16px;
        margin-bottom: 8px;
        font-weight: bold;
        border-radius: $input-border-radius;
        transition: background-color $transition-length $transition-func;

        .available-balance {
            color: $light-gray-color;
            font-weight: normal;
            text-align: right;
        }
    }
}
