@import "variables";

.f-input {
    display: inline-block;
    vertical-align: middle;

    .f-inp {
        display: flex;
        align-items: center;
        align-content: center;

        input, textarea {
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            background: none;
            padding: 0;
            border: none;
            color: inherit;

            &:invalid {
                box-shadow: none;
                outline: none;
                border: none;
            }
        }
    }

    &.is-textarea {
        .f-inp {
            height: auto;
        }
    }

    &.prefix-slot {
        .f-inp {
            padding-left: 0.25rem;

            input {
                padding-left: 0.5rem;
            }
        }
    }

    &.suffix-slot {
        .f-inp {
            padding-right: 0.25rem;

            input {
                padding-right: 0.5rem;
            }
        }
    }

    &:not(.no-input-style) {
        .f-inp {
            input, textarea {
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
}
