@import "../../assets/scss/vars";

.funiswap-swap {
    &__exchange-price {
        margin-top: 16px;

        &__row {
            display: flex;
            align-items: center;
            padding-inline-start: 16px;
            padding-inline-end: 16px;
        }

        .defi-label {
            flex: 1 1 auto;
            margin-bottom: 0;
        }

        .value {
            text-align: right;
            padding: 0 8px;
        }

        .swap-price {
        }
    }
}
