@import "custom-properties";

.f-select-button {
    //display: inline-block;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 0 0 8px 0;
    cursor: pointer;
    border: none;
    border-bottom: var(--f-select-button-border-bottom);
    text-align: left;
    margin: 0;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &.collapsed {
        width: auto;
        padding-bottom: 0;
        border-bottom: none;
    }

    .arrow {
        width: var(--f-select-button-arrow-size);
        height: var(--f-select-button-arrow-size);
        background-image: var(--f-select-button-arrow-image);
        background-repeat: no-repeat;
        margin: 0 8px 0 auto;
        //background-position: 50% 0;
        background-position: 100% 0;
    }

    &.bigger-arrow {
        --f-select-button-arrow-size: 16px;
        --f-select-button-arrow-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path style="fill: rgb(140,140,140);" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>');
    }
}
