.f-file-input-btn {
    position: relative;
    overflow: hidden;

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        font-size: 80px;
        cursor: pointer;
        opacity: 0;

        &::-webkit-file-upload-button {
            cursor:pointer
        }
    }
}
