@import "../variables";

.f-circle-progress {
    --f-circle-progress-width: 152px;
    --f-circle-progress-height: 152px;
    --f-circle-progress-stroke-width: 5;
    --f-circle-progress-transition-duration: 250ms;
    --f-circle-progress-transition-func: ease;
    --f-circle-progress-text-color: #9299a6;
    --f-circle-progress-text-font-size: 42px;
    --f-circle-progress-text-font-weight: bold;
    --f-circle-progress-text-percentage-font-size: 0.4em;
    --f-circle-progress-stroke-linecap: round;
    --f-circle-progress-circle-color: var(--f-primary-color);
    --f-circle-progress-bg-circle-color: #e6e6e6;
}
